$main_font: "Roboto", sans-serif;
$secondary_font: "Slackey", sans-serif;
$title_font: "Slackey", sans-serif;
$points_font: "Codystar", sans-serif;

//Tamaño mediaQueries
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

//Colores
$black: #14140f;
$dark_blue: #053d38;
$medium_blue: #34675c;
$light_blue: #a3ccab;
$orange: #f26800;
$light_orange: #f3ad78;
$red_tomato: #c03221;
$white: #fff;
$gray: #5c5c5c;
$light_gray: #dfdfdf;
$purple: rgb(115, 43, 247);

$star_yellow: #ffe45e;
$blue: #03bff3;
$hover_blue: #005066;

//SPACE STARS
$space_layer: 4vw 50vh 0 #fff, 18vw 88vh 0 #fff;
$star_size: 4px;
$star_color: #fff;
$duration: 5s;